.container {
  width: 62vw;
  margin: 3.5em auto;
  display: flex;
  gap: 16px;
}
.container div {
  flex-grow: 2;
}
.lista-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 10%;
  row-gap: 2%;
}
