* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --verde-destaque: #81fe88;
  --verde-petroleo: #132e25;
  --grafite: #01080e;
  --cinza-escuro: #171d1f;
  --cinza-medio: #888888;
  --cinza: #3e3e3e;
  --cinza-claro: #bcbcbc;
  --off-white: #e1e1e1;
  --branco: #ffffff;
  --font: "Prompt", sans-serif;
}
body {
  background-color: var(--grafite);
  font-family: var(--font);
}
